build/
target/
out/

doc/

*.pydevproject
.metadata
.gradle
build.properties

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

.project
.checkstyle
.externalToolBuilders/
*.launch

.cproject
.classpath
*.iml
.idea/

.factorypath
.buildpath
.target
.texlipse
.toDelete
/.apt_generated/
.springBeans

*.log
/log/